.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: #f5f7fa;
}

.calculator {
  background: white;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 570px;
  background-color: #e6e4e4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 15px 0;
}

form .display input {
  flex: 1;
  height: 60px;
  font-size: 32px;
  text-align: right;
  padding: 10px;
  border: none;
  background: #c2c0c0;
  border-radius: 12px;
  color: #333;
}

form .row {
  display: flex;
  justify-content: space-between;
}

form input[type="button"] {
  border: none;
  outline: none;
  width: 65px;
  height: 65px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  border-radius: 50%;
  background: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.1s ease;
}

form input[type="button"]:active {
  transform: scale(1.2);
}

form input.equal {
  width: 140px;
  border-radius: 50px;
  background: orange;
  color: white;
}

form input.equal:hover {
  background: darkorange;
}

form input.operator {
  background: rgb(186, 185, 185);
  color: black;
}

form input.operator:hover {
  background: #666;
}

form input.numeric {
  background: white;
  color: black;
}

.extra-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.extra-buttons input {
  flex: 1 1 30%;
  min-width: 60px;
  border-radius: 50%;
}
